$main-container-width: 1204px;
$font-color: #333333;

.main-container {
  color: $font-color;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: $main-container-width;

}

.loader {
  font-size: 30px;
  font-weight: 500;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
