$lightGrey: '#e1e1e1';
.card {
  border: 1px solid $lightGrey;
  display: flex;
  flex: 1 1 290px;
  flex-direction: column;
  flex-grow: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -1px;
  margin-top: -1px;
  padding: 20px 5px;

  .product {
    padding: 0 10px;

    &__description {
      align-items: baseline;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      &__name {
        font-size: 17px;
        font-weight: bold;
        max-width: 170px;
      }

      &__price {
        font-size: 22px;
        font-weight: bold;
      }
    }
  }
}
