$defaultColor: #333333;
$red: #cc3333;
$green: #009900;
$white: #ffffff;
$lightBlue: #def1f4;

.tag {
  color: $white;
  display: inline-block;


  &--exclusive {
    background-color: $green;
    padding: 12px 16px;
  }

  &--sale {
    background-color: $red;
    padding: 12px 16px;
  }
}
